# Data Professional Survey (Cleaning)

In [1084]:
import pandas as pd

## Load data

In [1086]:
# specify file path of excel file
file_path = 'D:/Documents/Data Analysis/Datasets/Alex the Analyst/Power BI - Final Project.xlsx/'

In [1087]:
# read in .xlsx as df
survey = pd.read_excel(file_path)

In [1088]:
survey.head()

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

## Validation and Cleaning

In [1090]:
# df info
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 28 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   Unique ID                                                                                     630 non-null    object
 1   Email                                                                                         630 non-null    object
 2   Date Taken (America/New_York)                                                                 630 non-null    object
 3   Time Taken (America/New_York)                                                                 630 non-null    object
 4   Browser                                                                                       0 non-null      float64
 5   OS                                                                                            0 non-null      float64
 6   City                                                                                          0 non-null      float64
 7   Country                                                                                       0 non-null      float64
 8   Referrer                                                                                      0 non-null      float64
 9   Time Spent                                                                                    630 non-null    object
 10  Q1 - Which Title Best Fits your Current Role?                                                 630 non-null    object
 11  Q2 - Did you switch careers into Data?                                                        630 non-null    object
 12  Q3 - Current Yearly Salary (in USD)                                                           630 non-null    object
 13  Q4 - What Industry do you work in?                                                            630 non-null    object
 14  Q5 - Favorite Programming Language                                                            630 non-null    object
 15  Q6 - How Happy are you in your Current Position with the following? (Salary)                  623 non-null    float64
 16  Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)       620 non-null    float64
 17  Q6 - How Happy are you in your Current Position with the following? (Coworkers)               619 non-null    float64
 18  Q6 - How Happy are you in your Current Position with the following? (Management)              618 non-null    float64
 19  Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)         617 non-null    float64
 20  Q6 - How Happy are you in your Current Position with the following? (Learning New Things)     625 non-null    float64
 21  Q7 - How difficult was it for you to break into Data?                                         630 non-null    object
 22  Q8 - If you were to look for a new job today, what would be the most important thing to you?  630 non-null    object
 23  Q9 - Male/Female?                                                                             630 non-null    object
 24  Q10 - Current Age                                                                             630 non-null    int64
 25  Q11 - Which Country do you live in?                                                           630 non-null    object
 26  Q12 - Highest Level of Education                                                              578 non-null    object
 27  Q13 - Ethnicity                                                                               630 non-null    object
dtypes: float64(11), int64(1), object(16)
memory usage: 137.9+ KB

In [1091]:
# counts of na rows by column
survey.isna().sum()

Unique ID                                                                                         0
Email                                                                                             0
Date Taken (America/New_York)                                                                     0
Time Taken (America/New_York)                                                                     0
Browser                                                                                         630
OS                                                                                              630
City                                                                                            630
Country                                                                                         630
Referrer                                                                                        630
Time Spent                                                                                        0
Q1 - Which Title Best Fits your Current Role?                                                     0
Q2 - Did you switch careers into Data?                                                            0
Q3 - Current Yearly Salary (in USD)                                                               0
Q4 - What Industry do you work in?                                                                0
Q5 - Favorite Programming Language                                                                0
Q6 - How Happy are you in your Current Position with the following? (Salary)                      7
Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)          10
Q6 - How Happy are you in your Current Position with the following? (Coworkers)                  11
Q6 - How Happy are you in your Current Position with the following? (Management)                 12
Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)            13
Q6 - How Happy are you in your Current Position with the following? (Learning New Things)         5
Q7 - How difficult was it for you to break into Data?                                             0
Q8 - If you were to look for a new job today, what would be the most important thing to you?      0
Q9 - Male/Female?                                                                                 0
Q10 - Current Age                                                                                 0
Q11 - Which Country do you live in?                                                               0
Q12 - Highest Level of Education                                                                 52
Q13 - Ethnicity                                                                                   0
dtype: int64

In [1092]:
# remove the 5 columns without any data whatsoever
survey = survey.dropna(axis=1, how='all').copy()

In [1093]:
# verify unique identifier column
survey['Unique ID'].is_unique

True

In [1094]:
# value counts for email
survey['Email'].value_counts()

Email
anonymous    630
Name: count, dtype: int64

In [1095]:
# emails are all 'anonymous', can drop column
survey = survey.drop('Email', axis=1).copy()

### Q1

In [1097]:
# unique values for 'Current Role'
survey['Q1 - Which Title Best Fits your Current Role?'].value_counts()

Q1 - Which Title Best Fits your Current Role?
Data Analyst                                    381
Student/Looking/None                             90
Data Engineer                                    38
Data Scientist                                   25
Other (Please Specify):Business Analyst           6
                                               ...
Other (Please Specify):Software Developer         1
Other (Please Specify):Database Manager           1
Other (Please Specify):Financial Analyst          1
Other (Please Specify):Data Integrity             1
Other (Please Specify):Data Scientist Intern      1
Name: count, Length: 83, dtype: int64

In [1098]:
# remove 'Other (Please Specify):' for clarity and ease of transformation
survey['Q1 - Which Title Best Fits your Current Role?'] = survey['Q1 - Which Title Best Fits your Current Role?'].str.replace('Other (Please Specify):', '')

# strip blank spaces
survey['Q1 - Which Title Best Fits your Current Role?'] = survey['Q1 - Which Title Best Fits your Current Role?'].str.strip()

# standardize to Title Case
survey['Q1 - Which Title Best Fits your Current Role?'] = survey['Q1 - Which Title Best Fits your Current Role?'].str.title()

# view updated value counts
role_count = survey['Q1 - Which Title Best Fits your Current Role?'].value_counts()
role_count.index[-2]

'Data Integrity'

In [1099]:
# investigate 'Other' job titles further

# Jobs containing 'Analy'
survey.loc[survey['Q1 - Which Title Best Fits your Current Role?'].str.contains('Analy'), 'Q1 - Which Title Best Fits your Current Role?'].value_counts()

Q1 - Which Title Best Fits your Current Role?
Data Analyst                                381
Business Analyst                              9
Analytics Engineer                            4
Analytics Manager                             2
Fp&A Analyst                                  1
Financial Analyst                             1
Predictive Analyst                            1
Business Intelligence Analyst                 1
Gis Analyst                                   1
Student Working As A Data Analyst Intern      1
Senior Business Analyst                       1
Finance Analyst                               1
Business Analys                               1
Billing Analyst                               1
Analyst Primary Market Intelligence           1
Sr. Supply Chain Analyst                      1
Analytics Consultant                          1
Analyst                                       1
Manager Of A Team Of Data Analysts            1
Does A Social Media Analyst Count?            1
Insights Analyst                              1
Research Analyst                              1
Director Of Data Analytics                    1
Sap Security Analyst                          1
Name: count, dtype: int64

In [1100]:
# Jobs containing 'Manage'
survey.loc[survey['Q1 - Which Title Best Fits your Current Role?'].str.contains('Manage'), 'Q1 - Which Title Best Fits your Current Role?'].value_counts()

Q1 - Which Title Best Fits your Current Role?
Analytics Manager                         2
Data Manager                              2
Manager, Business Intelligence Develop    1
Learning Management Specialist            1
Manager Of A Team Of Data Analysts        1
Database Manager                          1
Manager                                   1
Account Manager                           1
Incident Manager                          1
Bi Manager                                1
Name: count, dtype: int64

In [1101]:
# Jobs containing 'Inter'
survey.loc[survey['Q1 - Which Title Best Fits your Current Role?'].str.contains('Inter'), 'Q1 - Which Title Best Fits your Current Role?'].value_counts()

Q1 - Which Title Best Fits your Current Role?
Student Working As A Data Analyst Intern    1
Data Scientist Intern                       1
Name: count, dtype: int64

In [1102]:
# Jobs containing 'Consult'
survey.loc[survey['Q1 - Which Title Best Fits your Current Role?'].str.contains('Consult'), 'Q1 - Which Title Best Fits your Current Role?'].value_counts()

Q1 - Which Title Best Fits your Current Role?
Analytics Consultant                1
Business Intelligence Consultant    1
Consultant                          1
Bi Consultant                       1
Technical Consulta                  1
Name: count, dtype: int64

In [1103]:
# Jobs containing 'Scien'
survey.loc[survey['Q1 - Which Title Best Fits your Current Role?'].str.contains('Scien'), 'Q1 - Which Title Best Fits your Current Role?'].value_counts()

Q1 - Which Title Best Fits your Current Role?
Data Scientist                                                                           25
I Work With Data Tools And Can Create Simple Dashboards But I Am Not A Data Scientist     1
Jr. Data Scientist                                                                        1
Data Scientist Intern                                                                     1
Name: count, dtype: int64

In [1104]:
# Jobs containing 'Engin'
survey.loc[survey['Q1 - Which Title Best Fits your Current Role?'].str.contains('Engin'), 'Q1 - Which Title Best Fits your Current Role?'].value_counts()

Q1 - Which Title Best Fits your Current Role?
Data Engineer                     38
Analytics Engineer                 4
Business Intelligence Engineer     1
Software Engineer                  1
Junior Software Engineer           1
Software Engineer, Ai              1
Rf Engineer                        1
Support Engineer                   1
Presales Engineer                  1
Name: count, dtype: int64

In [1105]:
# Jobs containing 'Dev'
survey.loc[survey['Q1 - Which Title Best Fits your Current Role?'].str.contains('Dev'), 'Q1 - Which Title Best Fits your Current Role?'].value_counts()

Q1 - Which Title Best Fits your Current Role?
Database Developer                        5
Bi Developer                              1
Manager, Business Intelligence Develop    1
Software Developer                        1
Business Intelligence Developer           1
Web Developer                             1
Power Bi Developer                        1
Name: count, dtype: int64

In [1106]:
analyst = ['Analyst',
           'Business Analyst',
           'Analytics Engineer',
           'Business Analyst',
           'Financial Analyst',
           'Predictive Analyst',
           'Business Intelligence Analyst',
           'GIS Analyst',
           'Sernior Business Analyst',
           'Finance Analyst',
           'Business Analys',
           'Analyst Primary Market Intelligence',
           'FP&A Analyst',
           'Research Analyst',
           'Sr. Supply Chain Analyst',
           'SAP Security Analyst',
           'Senior Business Analyst',
           'Insights Analyst',
           'Does A Social Media Analyst Count?',
           'Billing Analyst',
           'I Work With Data Tools And Can Create Simple Dashboards But I Am Not A Data Scientist'
           'Bi Developer',
           'Business Intelligence Developer',
           'Power Bi Developer']

manager = ['Analytics Manager',
           'Manager of a team of Data Analysts',
           'Director of Data Analytics',
           'Manager, Business Intelligence Develop',
           'Learning Management Specialist',
           'Database Manager',
           'Incident Manager',
           'Data Manager',
           'BI Manager',
           'Account Manager',
           'Pmo',
           'Reporting Adm',
           'Director',
           'Tableau Admin']

consultant = ['Analytics Consultant',
              'Consultant',
              'Business Intelligence Consultant',
              'Bi Consultant',
              'Technical Consulta']
              

student = ['Data Scientist Intern',
           'Student Working As A Data Analyst Intern']

data_scientist = ['Jr. Data Scientist']

engineer = ['Business Intelligence Engineer',
            'Software Engineer',
            'Junior Software Engineer',
            'Software Engineer, Ai',
            'Rf Engineer',
            'Support Engineer',
            'Presales Engineer',
            'Database Developer',
            'Data Architect']

# List of validated job groupings
validated_jobs = ['Data Analyst',
                  'Student/Looking/None',
                  'Data Engineer',
                  'Data Scientist',
                  'Manager',
                  'Consultant']

In [1107]:
# consolidate 'Other' items as best as possible
survey.loc[survey['Q1 - Which Title Best Fits your Current Role?'].isin(analyst), 'Q1 - Which Title Best Fits your Current Role?'] = 'Data Analyst'
survey.loc[survey['Q1 - Which Title Best Fits your Current Role?'].isin(manager), 'Q1 - Which Title Best Fits your Current Role?'] = 'Manager'
survey.loc[survey['Q1 - Which Title Best Fits your Current Role?'].isin(consultant), 'Q1 - Which Title Best Fits your Current Role?'] = 'Consultant'
survey.loc[survey['Q1 - Which Title Best Fits your Current Role?'].isin(student), 'Q1 - Which Title Best Fits your Current Role?'] = 'Student/Looking/None'
survey.loc[survey['Q1 - Which Title Best Fits your Current Role?'].isin(data_scientist), 'Q1 - Which Title Best Fits your Current Role?'] = 'Data Scientist'
survey.loc[survey['Q1 - Which Title Best Fits your Current Role?'].isin(engineer), 'Q1 - Which Title Best Fits your Current Role?'] = 'Data Engineer'

# rest of items = 'Other'
survey.loc[~survey['Q1 - Which Title Best Fits your Current Role?'].isin(validated_jobs), 'Q1 - Which Title Best Fits your Current Role?'] = 'Other'

# updated value_counts
survey['Q1 - Which Title Best Fits your Current Role?'].value_counts()

Q1 - Which Title Best Fits your Current Role?
Data Analyst            409
Student/Looking/None     92
Data Engineer            53
Other                    31
Data Scientist           26
Manager                  14
Consultant                5
Name: count, dtype: int64

### Q2

In [1109]:
# validate Q2
survey['Q2 - Did you switch careers into Data?'].value_counts()

Q2 - Did you switch careers into Data?
Yes    372
No     258
Name: count, dtype: int64

### Q3

In [1111]:
# validate Q3
survey['Q3 - Current Yearly Salary (in USD)'].value_counts()

Q3 - Current Yearly Salary (in USD)
0-40k        275
41k-65k      149
66k-85k       93
86k-105k      52
106k-125k     29
125k-150k     17
150k-225k     13
225k+          2
Name: count, dtype: int64

### Q4

In [1113]:
# remove 'Other (Please Specify):' for clarity and ease of transformation
survey['Q4 - What Industry do you work in?'] = survey['Q4 - What Industry do you work in?'].str.replace('Other (Please Specify):', '')

# strip blank spaces
survey['Q4 - What Industry do you work in?'] = survey['Q4 - What Industry do you work in?'].str.strip()

# standardize to Title Case
survey['Q4 - What Industry do you work in?'] = survey['Q4 - What Industry do you work in?'].str.title()

# view updated value counts
survey['Q4 - What Industry do you work in?'].value_counts()

Q4 - What Industry do you work in?
Tech                         150
Finance                       97
Healthcare                    84
Education                     38
Telecommunication             22
                            ...
Non Profit Animal Welfare      1
Warehouse                      1
Management                     1
Medical Industry               1
Transportation                 1
Name: count, Length: 132, dtype: int64

In [1114]:
# industry value_counts once again
industries = survey['Q4 - What Industry do you work in?'].value_counts()

# locate industries with count >= 10
pop_industries = industries.loc[industries >= 10].index.to_list()
pop_industries

['Tech',
 'Finance',
 'Healthcare',
 'Education',
 'Telecommunication',
 'Retail',
 'Construction',
 'Real Estate']

In [1115]:
# relegate less-common industries to 'Other'
survey.loc[~survey['Q4 - What Industry do you work in?'].isin(pop_industries), 'Q4 - What Industry do you work in?'] = 'Other'

# updated value_counts
survey['Q4 - What Industry do you work in?'].value_counts()

Q4 - What Industry do you work in?
Other                197
Tech                 150
Finance               97
Healthcare            84
Education             38
Telecommunication     22
Retail                15
Construction          14
Real Estate           13
Name: count, dtype: int64

### Q5

In [1117]:
# remove 'Other:' for clarity and ease of transformation
survey['Q5 - Favorite Programming Language'] = survey['Q5 - Favorite Programming Language'].str.replace('Other:', '')

# strip blank spaces
survey['Q5 - Favorite Programming Language'] = survey['Q5 - Favorite Programming Language'].str.strip()

# standardize to Title Case
survey['Q5 - Favorite Programming Language'] = survey['Q5 - Favorite Programming Language'].str.title()

# view updated value counts
survey['Q5 - Favorite Programming Language'].value_counts()

Q5 - Favorite Programming Language
Python                                                                                                                                                                                                                                             420
R                                                                                                                                                                                                                                                  101
Sql                                                                                                                                                                                                                                                 43
Other                                                                                                                                                                                                                                                9
C/C++                                                                                                                                                                                                                                                7
Javascript                                                                                                                                                                                                                                           6
None                                                                                                                                                                                                                                                 6
Dax                                                                                                                                                                                                                                                  5
Excel                                                                                                                                                                                                                                                2
Vba                                                                                                                                                                                                                                                  2
Sas                                                                                                                                                                                                                                                  2
Sas Sql                                                                                                                                                                                                                                              1
I Mean, I Mostly Work In Sql And Its Variants?                                                                                                                                                                                                       1
Just Started Learning                                                                                                                                                                                                                                1
None At The Moment                                                                                                                                                                                                                                   1
Na                                                                                                                                                                                                                                                   1
Java                                                                                                                                                                                                                                                 1
Php                                                                                                                                                                                                                                                  1
Mainly Use Excel                                                                                                                                                                                                                                     1
Sql Because That Is All I Know Really Well So Far.                                                                                                                                                                                                   1
Matlab                                                                                                                                                                                                                                               1
Sql &  Plsql                                                                                                                                                                                                                                         1
C#                                                                                                                                                                                                                                                   1
Stata                                                                                                                                                                                                                                                1
Altery                                                                                                                                                                                                                                               1
I Currently Do Not Work With Programming Languages Yet                                                                                                                                                                                               1
Sql Postgres                                                                                                                                                                                                                                         1
Unknown                                                                                                                                                                                                                                              1
Excel/Sql                                                                                                                                                                                                                                            1
I Don'T Use Programming In My Role                                                                                                                                                                                                                   1
Knowledge Of Excel And Sql Yet                                                                                                                                                                                                                       1
Dont Require                                                                                                                                                                                                                                         1
I Donâ€™T Know Any                                                                                                                                                                                                                                     1
If Sql Is Categorised As A Programming Language Then I Will Definitely Say Sql. Since I Am Still Learning, I Can'T Give A Definite Answer In Relation To The Abover Mentioned But For The Sake Of Choosing I Will Say R Then Followed By Python      1
Power Bi                                                                                                                                                                                                                                             1
Qlik Sense Script                                                                                                                                                                                                                                    1
Mostly Use Sql But Thatâ€™S Not Programming Language..                                                                                                                                                                                                 1
I Do Analysis And Create Presentations Based On Datasets Provided By Others                                                                                                                                                                          1
Name: count, dtype: int64

In [1118]:
survey['Q5 - Favorite Programming Language'].value_counts().index[11]

'Sas Sql'

In [1119]:
sql = ['sql',
       'Sql',
       'Sql Because That Is All I Know Really Well So Far.',
       'Sas Sql',
       'Sql &  Plsql',
       'Knowledge Of Excel And Sql Yet',
       "If Sql Is Categorised As A Programming Language Then I Will Definitely Say Sql. Since I Am Still Learning, I Can'T Give A Definite Answer In Relation To The Abover Mentioned But For The Sake Of Choosing I Will Say R Then Followed By Python",
       'Mostly Use Sql But Thatâ€™S Not Programming Language..',
       'Sql Postgres',
       'Excel/Sql',
       'I Mean, I Mostly Work In Sql And Its Variants?']

none_used = ['Excel',
             'I Do Analysis And Create Presentations Based On Datasets Provided By Others',
             "I Don'T Use Programming In My Role",
             'I Currently Do Not Work With Programming Languages Yet',
             'I Donâ€™T Know Any',
             'Mainly Use Excel',
             'Na',
             'Just Started Learning',
             'None At The Moment',
             'Dont Require',
             'Unknown',
             'Power Bi',
             'Dax']

# list of validated languages
valid_language = ['SQL',
                  'None']

In [1120]:
# consolidate 'Other' items as best as possible
survey.loc[survey['Q5 - Favorite Programming Language'].isin(sql), 'Q5 - Favorite Programming Language'] = 'SQL'
survey.loc[survey['Q5 - Favorite Programming Language'].isin(none_used), 'Q5 - Favorite Programming Language'] = 'None'

# updated value_counts
languages = survey['Q5 - Favorite Programming Language'].value_counts()
languages

Q5 - Favorite Programming Language
Python               420
R                    101
SQL                   52
None                  24
Other                  9
C/C++                  7
Javascript             6
Vba                    2
Sas                    2
Qlik Sense Script      1
Stata                  1
Altery                 1
C#                     1
Java                   1
Matlab                 1
Php                    1
Name: count, dtype: int64

In [1121]:
# locate languages with count >= 5
pop_languages = languages.loc[languages >= 5].index.to_list()
pop_languages

['Python', 'R', 'SQL', 'None', 'Other', 'C/C++', 'Javascript']

In [1122]:
# relegate less-common languages to 'Other'
survey.loc[~survey['Q5 - Favorite Programming Language'].isin(pop_languages), 'Q5 - Favorite Programming Language'] = 'Other'

# updated value_counts
survey['Q5 - Favorite Programming Language'].value_counts()

Q5 - Favorite Programming Language
Python        420
R             101
SQL            52
None           24
Other          20
C/C++           7
Javascript      6
Name: count, dtype: int64

### Q6

In [1124]:
# validate the "1-10" question columns
survey['Q6 - How Happy are you in your Current Position with the following? (Salary)'].value_counts().sort_index()

Q6 - How Happy are you in your Current Position with the following? (Salary)
0.0     74
1.0     46
2.0     56
3.0     89
4.0     75
5.0     71
6.0     55
7.0     64
8.0     55
9.0     18
10.0    20
Name: count, dtype: int64

### Q7

In [1126]:
# validate Q7
survey['Q7 - How difficult was it for you to break into Data?'].value_counts()

Q7 - How difficult was it for you to break into Data?
Neither easy nor difficult    269
Difficult                     156
Easy                          134
Very Difficult                 44
Very Easy                      27
Name: count, dtype: int64

### Q8

In [1128]:
# validate Q8
survey['Q8 - If you were to look for a new job today, what would be the most important thing to you?'].value_counts()

Q8 - If you were to look for a new job today, what would be the most important thing to you?
Better Salary                                                                                                                                                                                 297
Remote Work                                                                                                                                                                                   127
Good Work/Life Balance                                                                                                                                                                        117
Good Culture                                                                                                                                                                                   54
Other (Please Specify):Challenging / exciting problems                                                                                                                                          1
Other (Please Specify):Mix of better salary, good work/life balance, remote work and good culture                                                                                               1
Other (Please Specify):Learning opportunity                                                                                                                                                     1
Other (Please Specify):Learning New Things                                                                                                                                                      1
Other (Please Specify):Salary and expo                                                                                                                                                          1
Other (Please Specify):In office work                                                                                                                                                           1
Other (Please Specify):Learning new skills                                                                                                                                                      1
Other (Please Specify):Data Maturity                                                                                                                                                            1
Other (Please Specify):All of the above                                                                                                                                                         1
Other (Please Specify):Mentorship from leading Data Analyst                                                                                                                                     1
Other (Please Specify):Opportunity to learn                                                                                                                                                     1
Other (Please Specify):Better work & remote salary                                                                                                                                              1
Other (Please Specify):The work                                                                                                                                                                 1
Other (Please Specify):Remote too                                                                                                                                                               1
Other (Please Specify):Collaboration                                                                                                                                                            1
Other (Please Specify):Better Tech Stack                                                                                                                                                        1
Other (Please Specify):Intresting work                                                                                                                                                          1
Other (Please Specify):Good opportunities in projects and learnjng                                                                                                                              1
Other (Please Specify):Projects Iâ€™m interested in                                                                                                                                               1
Other (Please Specify):Different job title, either product owner or consulting                                                                                                                  1
Other (Please Specify):Responsibilities                                                                                                                                                         1
Other (Please Specify):Development                                                                                                                                                              1
Other (Please Specify):Strong organizational data strategy, high-performing team                                                                                                                1
Other (Please Specify):I would say a combination of good work/life balance with a better pay and the exposure to a workplace that supposed growth                                               1
Other (Please Specify):Currently very happy with where I am.                                                                                                                                    1
Other (Please Specify):My passion is to become a Data analyst                                                                                                                                   1
Other (Please Specify):Opportunity for advancement                                                                                                                                              1
Other (Please Specify):I just started and I don't like programming so much, so I would search for a more "impactiful" role. Meaning: being able to take decisions that steer the business.      1
Other (Please Specify):Want to move from Australia to Canada, so position in desired country                                                                                                    1
Other (Please Specify):All of the options are important to me when looking for a new job                                                                                                        1
Other (Please Specify):Both Good work / life Balance and Good Culture                                                                                                                           1
Other (Please Specify):an environment that encourages growth like where I work currently and better salary                                                                                      1
Other (Please Specify):Learning possibilities                                                                                                                                                   1
Other (Please Specify):Opportunities for growth                                                                                                                                                 1
Other (Please Specify):Career Advancedment                                                                                                                                                      1
Name: count, dtype: int64

In [1129]:
# too challenging to validate for simply infographics, reduce to top categories
(
    survey.loc[~survey['Q8 - If you were to look for a new job today, what would be the most important thing to you?']
    .isin(['Better Salary', 'Remote Work', 'Good Work/Life Balance', 'Good Culture']), 'Q8 - If you were to look for a new job today, what would be the most important thing to you?']
) = 'Other'

# updated value_counts
survey['Q8 - If you were to look for a new job today, what would be the most important thing to you?'].value_counts()

Q8 - If you were to look for a new job today, what would be the most important thing to you?
Better Salary             297
Remote Work               127
Good Work/Life Balance    117
Good Culture               54
Other                      35
Name: count, dtype: int64

### Q9

In [1131]:
# validate Q9
survey['Q9 - Male/Female?'].value_counts()

Q9 - Male/Female?
Male      468
Female    162
Name: count, dtype: int64

### Q10

In [1133]:
# validate Q10
survey['Q10 - Current Age'].describe()

# someone is 92 working in data??? good for them!

count    630.000000
mean      29.866667
std        7.245941
min       18.000000
25%       25.000000
50%       28.000000
75%       33.000000
max       92.000000
Name: Q10 - Current Age, dtype: float64

### Q11

In [1135]:
# validate Q11
survey['Q11 - Which Country do you live in?'].value_counts()[:50]

Q11 - Which Country do you live in?
United States                                   261
India                                            73
United Kingdom                                   40
Canada                                           32
Other (Please Specify):Nigeria                   18
Other (Please Specify):Germany                   14
Other (Please Specify):Nigeria                   10
Other (Please Specify):Spain                      9
Other (Please Specify):Australia                  8
Other (Please Specify):Poland                     6
Other (Please Specify):Egypt                      6
Other (Please Specify):Costa Rica                 6
Other (Please Specify):Kenya                      6
Other (Please Specify):Mexico                     6
Other (Please Specify):Netherlands                5
Other (Please Specify):Portugal                   5
Other (Please Specify):Argentina                  5
Other (Please Specify):Colombia                   4
Other (Please Specify):Greece                     4
Other (Please Specify):France                     4
Other (Please Specify):Indonesia                  3
Other (Please Specify):Malaysia                   3
Other (Please Specify):Romania                    3
Other (Please Specify):Singapore                  3
Other (Please Specify)                            3
Other (Please Specify):Morocco                    2
Other (Please Specify):Costa Rica                 2
Other (Please Specify):Ghana                      2
Other (Please Specify):Ireland                    2
Other (Please Specify):Philippines                2
Other (Please Specify):Peru                       2
Other (Please Specify):UAE                        2
Other (Please Specify):Belgium                    2
Other (Please Specify):Bangladesh                 2
Other (Please Specify):Israel                     2
Other (Please Specify):Panama                     2
Other (Please Specify):Turkey                     2
Other (Please Specify):Niger                      2
Other (Please Specify):South Africa               2
Other (Please Specify):Sudan                      2
Other (Please Specify):Denmark                    2
Other (Please Specify):Japan                      2
Other (Please Specify):Chile                      2
Other (Please Specify):Brazil                     2
Other (Please Specify):Bulgaria                   2
Other (Please Specify):Saudi Arabia               1
Other (Please Specify):Saudi Arabia               1
Other (Please Specify):Leba                       1
Other (Please Specify):United Arab Emirates       1
Other (Please Specify):Zambia                     1
Name: count, dtype: int64

In [1136]:
# remove 'Other (Please Specify):' for clarity and ease of transformation
survey['Q11 - Which Country do you live in?'] = survey['Q11 - Which Country do you live in?'].str.replace('Other (Please Specify):', '')

# strip blank spaces
survey['Q11 - Which Country do you live in?'] = survey['Q11 - Which Country do you live in?'].str.strip()

# standardize to Title Case
survey['Q11 - Which Country do you live in?'] = survey['Q11 - Which Country do you live in?'].str.title()

# view updated value counts
countries = survey['Q11 - Which Country do you live in?'].value_counts()[:20]
countries

Q11 - Which Country do you live in?
United States     261
India              73
United Kingdom     40
Canada             32
Nigeria            29
Germany            14
Spain               9
Costa Rica          8
Australia           8
Egypt               7
Kenya               7
Mexico              6
Poland              6
Argentina           6
Portugal            5
Netherlands         5
France              4
Greece              4
Indonesia           4
Colombia            4
Name: count, dtype: int64

In [1137]:
# locate countries with count >= 10
pop_countries = countries.loc[countries >= 10].index.to_list()
pop_countries

['United States', 'India', 'United Kingdom', 'Canada', 'Nigeria', 'Germany']

In [1138]:
# relegate less-common countries to 'Other'
survey.loc[~survey['Q11 - Which Country do you live in?'].isin(pop_countries), 'Q11 - Which Country do you live in?'] = 'Other'

# updated value_counts
survey['Q11 - Which Country do you live in?'].value_counts()

Q11 - Which Country do you live in?
United States     261
Other             181
India              73
United Kingdom     40
Canada             32
Nigeria            29
Germany            14
Name: count, dtype: int64

### Q12

In [1140]:
# validate Q12
survey['Q12 - Highest Level of Education'].value_counts()

Q12 - Highest Level of Education
Bachelors      329
Masters        192
High School     36
Associates      16
PhD              5
Name: count, dtype: int64

### Q13

In [1142]:
# validate Q13
survey['Q13 - Ethnicity'].value_counts()

# this column appears to contain race, not ethnicity, so survey responders appear confused

Q13 - Ethnicity
White or Caucasian                                                                     239
Asian or Asian American                                                                155
Black or African American                                                              101
Hispanic or Latino                                                                      73
Other (Please Specify):Indian                                                           14
American Indian or Alaska Native                                                         4
Other (Please Specify):African                                                           3
Other (Please Specify):African                                                           3
Native Hawaiian or other Pacific Islander                                                2
Other (Please Specify):Bi-racial people should be able to check 2 options in 2022.       1
Other (Please Specify):Bla                                                               1
Other (Please Specify):Moroccan                                                          1
Other (Please Specify):Indian                                                            1
Other (Please Specify):Arab                                                              1
Other (Please Specify):Sudanese African                                                  1
Other (Please Specify):Dravidian                                                         1
Other (Please Specify):Melayu                                                            1
Other (Please Specify):Half black and half white                                         1
Other (Please Specify):arab                                                              1
Other (Please Specify):Asian                                                             1
Other (Please Specify):South Indian                                                      1
Other (Please Specify):Greek                                                             1
Other (Please Specify):Nigeria                                                           1
Other (Please Specify):Arab                                                              1
Other (Please Specify):Arabian (from Maghreb)                                            1
Other (Please Specify):7                                                                 1
Other (Please Specify):Bangladeshi                                                       1
Other (Please Specify):Egyp                                                              1
Other (Please Specify):Russian                                                           1
Other (Please Specify):Latino with Italian roots                                         1
Other (Please Specify):South Asian                                                       1
Other (Please Specify):Kenyan African                                                    1
Other (Please Specify):Black African, Zimbabwean Citizen                                 1
Other (Please Specify):Human                                                             1
Other (Please Specify):Race isn't a thing                                                1
Other (Please Specify):Middleeas                                                         1
Other (Please Specify):Mixed ( Caucasian / African-American )                            1
Other (Please Specify):Half Asian half African                                           1
Other (Please Specify):Brown                                                             1
Other (Please Specify):Prefer not to ans                                                 1
Other (Please Specify):N/A                                                               1
Other (Please Specify)                                                                   1
Other (Please Specify):Kurdish                                                           1
Other (Please Specify):Pakistani                                                         1
Other (Please Specify):Malay                                                             1
Name: count, dtype: int64

In [1143]:
# rename column to represent race
survey = survey.rename(columns={'Q13 - Ethnicity' : 'Q13 - Race'})

In [1144]:
# remove 'Other (Please Specify):' for clarity and ease of transformation (yes, normally I would have made this into a formula by now)
survey['Q13 - Race'] = survey['Q13 - Race'].str.replace('Other (Please Specify):', '')

# strip blank spaces
survey['Q13 - Race'] = survey['Q13 - Race'].str.strip()

# standardize to Title Case
survey['Q13 - Race'] = survey['Q13 - Race'].str.title()

# view updated value counts
races = survey['Q13 - Race'].value_counts()[:20]
races

Q13 - Race
White Or Caucasian                                             239
Asian Or Asian American                                        155
Black Or African American                                      101
Hispanic Or Latino                                              73
Indian                                                          15
African                                                          6
American Indian Or Alaska Native                                 4
Arab                                                             3
Native Hawaiian Or Other Pacific Islander                        2
Black African, Zimbabwean Citizen                                1
Human                                                            1
Arabian (From Maghreb)                                           1
Nigeria                                                          1
Greek                                                            1
South Indian                                                     1
Asian                                                            1
Dravidian                                                        1
Melayu                                                           1
Bi-Racial People Should Be Able To Check 2 Options In 2022.      1
Latino With Italian Roots                                        1
Name: count, dtype: int64

In [1145]:
# Containing 'Afr'
survey.loc[survey['Q13 - Race'].str.contains('Afr'), 'Q13 - Race'].value_counts()

Q13 - Race
Black Or African American                 101
African                                     6
Kenyan African                              1
Black African, Zimbabwean Citizen           1
Mixed ( Caucasian / African-American )      1
Half Asian Half African                     1
Sudanese African                            1
Name: count, dtype: int64

In [1146]:
white = ['White Or Caucasian']

black = ['African',
         'Kenyan African',
         'Black African, Zimbabwean Citizen',
         'Sudanese African',
         'Bla',
         'Nigeria',
         'Black Or African American']

asian = ['Asian',
         'Asian Or Asian American']

indian = ['South Indian']

In [1147]:
# consolidate race values
survey.loc[survey['Q13 - Race'].isin(white), 'Q13 - Race'] = 'White'
survey.loc[survey['Q13 - Race'].isin(black), 'Q13 - Race'] = 'Black'
survey.loc[survey['Q13 - Race'].isin(asian), 'Q13 - Race'] = 'Asian'
survey.loc[survey['Q13 - Race'].isin(indian), 'Q13 - Race'] = 'Indian'

# updated value_counts
races = survey['Q13 - Race'].value_counts()[:20]
races

Q13 - Race
White                                                          239
Asian                                                          156
Black                                                          112
Hispanic Or Latino                                              73
Indian                                                          16
American Indian Or Alaska Native                                 4
Arab                                                             3
Native Hawaiian Or Other Pacific Islander                        2
Moroccan                                                         1
Egyp                                                             1
Half Black And Half White                                        1
7                                                                1
Bi-Racial People Should Be Able To Check 2 Options In 2022.      1
Pakistani                                                        1
Melayu                                                           1
Dravidian                                                        1
Greek                                                            1
Arabian (From Maghreb)                                           1
Russian                                                          1
Kurdish                                                          1
Name: count, dtype: int64

In [1148]:
# locate races with count >= 10
common_races = races.loc[races >= 10].index.to_list()
common_races

['White', 'Asian', 'Black', 'Hispanic Or Latino', 'Indian']

In [1149]:
# relegate less-common races to 'Other'
survey.loc[~survey['Q13 - Race'].isin(common_races), 'Q13 - Race'] = 'Other'

# updated value_counts
survey['Q13 - Race'].value_counts()

Q13 - Race
White                 239
Asian                 156
Black                 112
Hispanic Or Latino     73
Other                  34
Indian                 16
Name: count, dtype: int64

In [1202]:
# final info
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 22 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   Unique ID                                                                                     630 non-null    object
 1   Date Taken (America/New_York)                                                                 630 non-null    object
 2   Time Taken (America/New_York)                                                                 630 non-null    object
 3   Time Spent                                                                                    630 non-null    object
 4   Q1 - Which Title Best Fits your Current Role?                                                 630 non-null    object
 5   Q2 - Did you switch careers into Data?                                                        630 non-null    object
 6   Q3 - Current Yearly Salary (in USD)                                                           630 non-null    object
 7   Q4 - What Industry do you work in?                                                            630 non-null    object
 8   Q5 - Favorite Programming Language                                                            630 non-null    object
 9   Q6 - How Happy are you in your Current Position with the following? (Salary)                  623 non-null    float64
 10  Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)       620 non-null    float64
 11  Q6 - How Happy are you in your Current Position with the following? (Coworkers)               619 non-null    float64
 12  Q6 - How Happy are you in your Current Position with the following? (Management)              618 non-null    float64
 13  Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)         617 non-null    float64
 14  Q6 - How Happy are you in your Current Position with the following? (Learning New Things)     625 non-null    float64
 15  Q7 - How difficult was it for you to break into Data?                                         630 non-null    object
 16  Q8 - If you were to look for a new job today, what would be the most important thing to you?  630 non-null    object
 17  Q9 - Male/Female?                                                                             630 non-null    object
 18  Q10 - Current Age                                                                             630 non-null    int64
 19  Q11 - Which Country do you live in?                                                           630 non-null    object
 20  Q12 - Highest Level of Education                                                              578 non-null    object
 21  Q13 - Race                                                                                    630 non-null    object
dtypes: float64(6), int64(1), object(15)
memory usage: 108.4+ KB